<div class="modal-content">
    <h4>Add server</h4>
    <input id="addServer-Name" type="text" placeholder="Server Name" class="validate">
    <input id="addServer-URL" type="text" placeholder="Server URL" class="validate">
</div>
<div class="modal-footer">
    <a href="#!" onclick="addServerFunction()" class="modal-close waves-effect waves-green green btn-flat">Add</a>
    <a href="#!" class="modal-close waves-effect waves-red red btn-flat">Cancel</a>
</div>
