<div class="modal-content">
    <h4 class="red-text">Warning !</h4>
    <p>The current project is under development, no release has been released, so many features don't work here / aren't implemented yet.
        <br /><br />
        Participate, if you wish, to the project by contributing on GitHub has its progress! Propose your ideas, and help us to make this little project a nice tool.</p>
</div>
<div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-red btn-flat">Ok</a>
</div>
